naive_bayes_model.pkl
tfidf_vectorizer.pkl
*keras
dataset.csv
datasetV2.csv
datasetV2Formatted.csv
datasetV2StringFormatted.csv
test.csv
datasetV2StringFormatted.csv

new_data.csv
                                                        